<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="row">
    <div class="col-75">
        <div class="container">
            <form method="post"  action="/pay">
                <div class="col-50">
                    <h3>Payment</h3>
                    <label>Accepted Cards</label>
                    <div class="icon-container">
                        <i class="fa fa-cc-visa card-icon" style="color:navy; padding: 10px;"></i>
                        <i class="fa fa-cc-amex card-icon" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard card-icon" style="color:red;"></i>
                        <i class="fa fa-cc-discover card-icon" style="color:orange;"></i>
                    </div>
                    <form (ngSubmit)="onSubmit()">
                        <input type="number" name="price" [(ngModel)]="price" required>
                        <input type="text" name="currency" [(ngModel)]="currency" required>
                        <input type="text" name="method" [(ngModel)]="method" required>
                        <input type="text" name="intent" [(ngModel)]="intent" required>
                        <input type="text" name="description" [(ngModel)]="description" required>
                      
                        <button type="submit" class="btn">Enviar</button>
                      </form>
                      

                </div>

                
            </form>
        </div>
    </div>
    <div class="col-25">
        <div class="container">
            <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
            <p><a href="#">Product 1</a> <span class="price">$1</span></p>
            <p><a href="#">Product 2</a> <span class="price">$4</span></p>
            <p><a href="#">Product 3</a> <span class="price">$3</span></p>
            <p><a href="#">Product 4</a> <span class="price">$2</span></p>
            <hr>
            <p>Total <span class="price" style="color:black"><b>$10</b></span></p>
        </div>
    </div>
</div>

</body>
